<h1 class="handle-titulo">Nos avalie!</h1>

<div id="avaliacao">
    <h2>O que você achou do website? Compartilhe conosco as suas considerações!</h2>
    <h2>Responda ao formulário abaixo e tenha um bom dia!</h2>
    <div id="qrcode-container">
        <h2>(Ou. se preferir, escaneie o QR CODE!)</h2>
        <img src="/img/qr-code.png" alt="QR-CODE">
    </div>

    <div id="iframe-container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmQ0BQU2XHIgmc4ic3mMe-0wKY0dxKzZfBJ_87ET_EUzO8zw/viewform?embedded=true" width="640" height="1545" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
    </div>
</div>