  <div class="texto-container">
    <h1><span>Website Consultório</span></h1>
    <h2><span>Cortesia de:</span></h2>
    <h3><span>Daniel Soares, Gabriel Brunelli e Miguel Pereira</span></h3>
  </div>

    <article>
      
      <h1 id="título">Selecione, de acordo com seus sintomas, as respostas para as perguntas a seguir</h1><br>

      <form>
        <h3>Qual seu gênero biológico?</h3>
        <label>Homem</label>
        <input type="radio" name="genero" onclick="respGenero1()"><br>
        <label>Mulher</label>
        <input type="radio" name="genero" onclick="respGenero2()"><br>
      </form>

     <div id="pergunta2" style="display:none">
      <form>
        <h3>Tem dores abdominais e corrimento vaginal?</h3>
        <label>Sim</label>
        <input type="radio" name="dorAbdominal" onclick="respAbd()"><br>
        <label>Não</label>
        <input type="radio" name="dorAbdominal" onclick="respAbd()"><br>
      </form>
     </div>

     <div id="pergunta3" style="display:none">
      <form>
      <h3>Tem tido mais vontade de urinar recentemente?</h3>
      <label>Sim</label>
      <input type="radio" name="vontadeUrin" onclick="respUrin()"><br>
      <label>Não</label>
      <input type="radio" name="vontadeUrin" onclick="respUrin()"><br>
      </form>
     </div>

      <div id="pergunta4" style="display:none">
        <form>
        <h3>Tem tido dor ao urinar recentemente?</h3>
        <label>Sim</label>
        <input type="radio" name="dorUrin" onclick="respDorUrin()"><br>
        <label>Não</label>
        <input type="radio" name="dorUrin" onclick="respDorUrin()"><br>
        </form>
      </div>

      <div id="pergunta5" style="display:none">
        <form>
          <h3>Você possui dor de cabeça?</h3>
          <label>Sim</label>
          <input type="radio" name="dorCabeca" onclick="respCab()"><br>
          <label>Não</label>
          <input type="radio" name="dorCabeca" onclick="respCab()"><br>
        </form>
       </div>
       

       <div id="pergunta6" style="display:none">
        <form>
          <h3>Você tem tido ardência na região genital?</h3>
          <label>Sim</label>
          <input type="radio" name="ardeGen" onclick="respArd()"><br>
          <label>Não</label>
          <input type="radio" name="ardeGen" onclick="respArd()"><br>
        </form>
       </div>

       <div id="pergunta7" style="display:none">
        <form>
          <h3>Tem sangue na urina?</h3>
          <label>Sim</label>
          <input type="radio" name="sangUrin" onclick="respSan()"><br>
          <label>Não</label>
          <input type="radio" name="sangUrin" onclick="respSan()"><br>
        </form>
       </div>

        <div id="pergunta8" style="display:none">
      <form>
        <h3>Você possui feridas?</h3>
        <label>Sim</label>
        <input type="radio" name="ferida" onclick="respFerida1()"><br>
        <label>Não</label>
        <input type="radio" name="ferida" onclick="respFerida2()"><br>
      </form>
     </div>

        <div id="pergunta9" style="display:none">
        <form>
          <h3>Qual o tipo de ferida?</h3>
          <label>Feridas secas sem pus</label>
          <input type="radio" name="tipoFeri" onclick="respTipoFeri()"><br>
          <label>Feridas com secreção</label>
          <input type="radio" name="tipoFeri" onclick="respTipoFeri()"><br>
          <label>Feridas vermelho vivo</label>
          <input type="radio" name="tipoFeri" onclick="respTipoFeri()"><br>
        </form>
       </div>

       <div id="finalizacao" style="display:none">
        <form action="/sistema/consulta" method="POST">
            <input type="submit" onclick="final()">
        </form>
       </div>


    </article>