<h1 class="handle-titulo">Todas as doenças contempladas:</h1>
<ul id="lista">
    <li>Clamídia</li>
    <li>Gonorréia</li>
    <li>Trícomeníase</li>
    <li>HPV</li>
    <li>Cancro Mole</li>
    <li>Danovanose</li>
</ul>
