<h1 class="handle-titulo">Todos as doenças contempladas</h1>
<ul id="lista">
    <li>Clamídia</li>
    <li>Gonorréia</li>
    <li>Hepatite B</li>
    <li>Trícomeníase</li>
    <li>Sífillis</li>
    <li>HPV</li>
    <li>Cancro Mole</li>
    <li>Danovanose</li>
    <li>Herpes Genital</li>
</ul>