h1, h2, h3 {
    text-align: center;
}


article {
    display: block;
    border: 1px solid black;
    padding: 1px;
    margin: 50px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    border: 1px solid black;
    background-color: rgb(252, 231, 206);
}

article {
    background-color: rgb(252, 231, 206);
}

body {
    background-color:bisque ;
    font-family: Castellar;
    z-index: 0;
}

body::after {
    background: url("consultório.webp");
    content: "";
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom:  0;
    right: 0;
    left: 0;
    z-index: -1;
}

label {
    margin-left: 1em;  
}

h1 span,
h2 span, 
h3 span {
    background-color: rgb(252, 225, 192);
    padding: 19px;
}

.texto-container h1,
.texto-container h2,
.texto-container h3 {
    margin: 1em;
}

#título {
    margin-top: 40px;
}