<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js"></script>
    <title>Website Consultório</title>
</head>
<body>
    <nav id="navbar">
        <a href="/">
            <img src="/img/consultorio-icone.png" alt="Consultório">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sistema/consulta">Processo de Consulta</a></li>
            <li><a href="/sistema/avaliar">Nos avalie!</a></li>
        </ul>
    </nav>
    <div id="corpo">
        {{{body}}}
    </div>
    <footer>
        <p><span>MiguelProgramas</span> &copy; 2024</p>
    </footer>
</body>
</html>